<% answers.each do |answer| %>
	<%= div_for(answer, :class => 'clearfix') do %>
		<div class="vote-area">
			<%= up_voted(answer, current_user.id) %>
		    <span class="vote-count-post" id="answer_<%= answer.id %>_vote"><%= answer.votes_count %></span>
			<%= down_voted(answer, current_user.id) %>
		</div>
		<div class="post">
			<div class="content"><%= safe_html answer.content %></div>
			<div class="operate">
				<a>评论</a>
				<a>编辑</a>
				<a>标记</a>
			</div>
			<%= render "/partials/passport", :user => @question.user %>
		</div>
	<% end %>
<% end %>