<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
	<% if not edit_mode %>
  <div class="field">
    <%= f.label :credit %><br />
    <%= f.text_field :credit, :rel => "popover", :data => {:title => "A Title", :content => "You need 5 credits at least."} %>
  </div>
  <div class="field">
    <%= f.label :money %><br />
    <%= f.text_field :money %>
  </div>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  $(function () {
    $("input[rel=popover]").popover({
      offset: 10
    })
  })
</script>