<% questions.each do |question| %>
	<%= div_for(question, :class => 'clearfix') do %>
		<div class="status">
			<div class="square"><div class="count"><%= question.money.to_i %></div>元</div>
			<div class="square"><div class="count"><%= question.credit %></div>积分</div>
		</div>
		<div class="summary">
			<div class="excerpt"><h5><%= link_to question.title, question %></h5></div>
			<div class="timestamp"><%= question.answers_count %> 回答</div>
		</div>
	<% end %>
<% end %>