<div class="row">
	<div class="col9">
		<%= div_for(@question, :class => 'clearfix') do %>
			<div class="vote-area">
				<%= up_voted(@question, current_user.id) %>
			    <span class="vote-count-post" id="question_<%= @question.id %>_vote"><%= @question.votes_count %></span>
				<%= down_voted(@question, current_user.id) %>
			</div>
			<div class="post">
				<h4 class="title"><%= safe_html @question.title %></h4>
				<div class="content"><%= safe_html @question.content %></div>
				<div class="operate">
					<a>评论</a>
					<a>编辑</a>
					<a>标记</a>
				</div>
				<%= render "/partials/passport", :user => @question.user %>
			</div>
		<% end %>
		<div id="answers">
			<div id="answers-header">
				<div class="subheader">
					<% if @question.answers_count > 0 %>
						<h2><%= @question.answers_count %> 个答案</h2>
					<% end %>
				</div>
			</div>
			<%= render @answers %>
		</div>
		<div id="load-more" class="loading">
			<div class="blueText">更多答案</div>
			<div class="spinner"></div>
		</div>
	</div>
	<div class="col3">
		<div class="operations clearfix">
			<% followed = @question.followed_by?(current_user.id) %>
			<% btn_color = followed ? "" : "success" %>
			<% btn_text = followed ? :followed : :unfollow %>
			<%= link_to t(btn_text),
					follow_question_path(@question),
					:id => "follow-question", :class => "btn #{btn_color}" %>
			
			<% favorited = @question.favorited_by?(current_user.id) %>
			<% btn_color = favorited ? "" : "success" %>
			<% btn_text = favorited ? :favorited : :unfavorite %>
			<%= link_to t(btn_text),
					favorite_question_path(@question),
					:id => "favorite-question", :class => "btn #{btn_color}" %>
		</div>
	</div>
</div>
<div id="create-answer">
	<% if @question.was_not_answered_by? current_user.id %>
		<h3 class="answer-title">添加答案</h3>
		<div class="space"><%= render '/partials/passport', :user => current_user %></div>
		<%= form_for([@question, Answer.new], :remote => true) do |f| %>
		  <%= f.hidden_field :question_id, :value => @question.id %>
			<div class="clearfix">
				<%= f.text_area :content, :class => 'col9 border-box' %>
			</div>
			<%= f.submit '提交', :class => "btn primary" %>
		<% end %>
	<% else %>
		<div class="answered-message">一个问题你只能回答一次，但你可以对现有的回答进行修改</div>
	<% end %>
</div>

<script>
var current_page = 1;
$(function() {
	$("#load-more").live("click",function(){
		$.ajax({
			url: location.href,
			type: "get",
			dataType: "script",
			data: {page: ++current_page},
			beforeSend: function(){
				$("#load-more .blueText").hide();
				$("#load-more .spinner").show();
			},
			complete: function(){
				$("#load-more .spinner").hide();
				$("#load-more .blueText").show();
			}
		});
		return false;
	});
});
</script>