<h1>Location Created</h1>

<table>
  <tr>
    <th>User_id</th>
    <th>User_name</th>
    <th>longitude and latitude</th>
    <th>receive_time</th>
  </tr>

  <tr>
    <td><%= @location.user_id %></td>
    <td><%= @location.user_name %></td>
    <td><%= @location.lat_long %></td>
    <td><%= @location.receive_time %></td>
  </tr>
</table>

<br />


<%= link_to 'List', locations_path %>
<%= link_to 'New Location', new_location_path %>
