<!DOCTYPE html>
<html>
<head>
  <title>Sjobs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar">
		<div class="fill">
			<div class="container">
				<h3><a href="#">NewBee</a></h3>
				<%= tabs_tag :builder => SegmentTabBuilder do |tab| %>
				  <%= tab.questions	'问题',	'/questions' %>
				  <%= tab.activity	'动态', '/activity' %>
				  <%= tab.inbox		'消息',  '/inbox' %>
				<% end %>
				<ul class="nav secondary-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"><%= current_user.username %></a>
						<ul class="dropdown-menu">
							<li><a href="#">个人主页</a></li>
							<li><a href="#">设置</a></li>
							<li class="divider"></li>
							<li><a href="/users/sign_out">注销</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="layout-978">
		<%= yield %>
	</div>
</body>
</html>
